In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('2017_2019_formatted.csv')
df.head()

,Unnamed: 0,Rk,Gcar,Gtm,Date,Tm,HORA,Opp,Rslt,Inngs,Dec,DR,IP,H,ER,BB,SO,Pit
0,0,1,34,5,Apr 8,PHI,H,WSN,"W,17-3",GS-6,W(1-0),99,6.0,7,3,2,7,89
1,1,2,35,10,Apr 14,PHI,@,WSN,"L,2-3",GS-5,N,5,5.0,6,1,0,6,90
2,2,3,36,15,Apr 20,PHI,@,NYM,"W,6-4",GS-5,W(2-0),5,5.0,7,4,4,2,96
3,4,4,37,41,May 21,PHI,@,PIT,"L,0-1",GS-7,L(2-1),30,7.0,4,1,2,5,89
4,5,5,38,46,May 26,PHI,H,CIN,"L,2-5",GS-6,L(2-2),4,6.0,6,5,2,5,97

In [5]:
import math
median_walks = math.floor(df.ER.median())
median_walks

2

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['IP', 'H', 'ER', 'BB', 'Pit']], df.SO)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
reg.coef_

array([ 0.09457692, -0.33250727,  0.01780567, -0.44209006,  0.09367766])

In [8]:
reg.intercept_

-1.4110322680096594

In [9]:
reg.predict([[6.0, 7, 3, 2, 89]])

array([4.33542654])